//$primary: #36846b;
//$background: #F1F8F9;
//$lightaccent: #4bb39a;
$secondary: #d68438;
$secondaryaccent: #f1b24b;
$primary: #342056;
$lightaccent: #7d60b1;
//$lightaccent: #d68438;
$darkaccent: #DD6B6B;
$faint: #686868;
$sidebar_item_hover_color:rgba(238, 251, 255, 0.032);
$sidebar_text_color: black;
$sidebar_text_active_color: $primary;
$chartcolor: rgb(199, 255, 199);
$dashboard-background-color: #f1f5f86e;
$charcoal: #36454F;
