$primary: #DE5C6E;
$background: #F1F8F9;
$lightaccent: #E3A09E;
$darkaccent: #DD6B6B;
$darkshade: #D94241;
$faint: #686868;
$sidebar_item_hover_color:rgba(238, 251, 255, 0.032);
$sidebar_text_color: black;
$sidebar_text_active_color: $primary;
$chartcolor: rgb(199, 255, 199);
$dashboard-background-color: #9ab2b611;