//$primary: #36846b;
//$background: #F1F8F9;
//$lightaccent: #4bb39a;
$secondary: #FFEA78;
$secondaryaccent: #f1b24b;
$primary: teal;
$lightaccent: $primary; //$lightaccent: #d68438;
$darkaccent: #DD6B6B;
$faint: #686868;
$sidebar_item_hover_color: rgba(36, 2, 60, 0.032);
$sidebar_text_color: black;
$sidebar_text_active_color: $primary;
$chartcolor: rgb(199, 255, 199);
//$dashboard-background-color: #f1f5f86e;
$dashboard-background-color: rgb(247, 250, 252);
$charcoal: #36454F;