@mixin card {
    background-color: white;
    max-height: fit-content;
    max-width: 100%;
  
    border-radius: 20px;
      background: #FFF;
      display: flex;
      margin-left: 5px;
     // height: 505.96px;
      flex-direction: column;
      align-items: flex-start;
      flex-shrink: 0;
      max-height: fit-content;
    
}

@mixin card-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

}

@mixin dashboard-shadow {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 0.5px inset;    

}
 

@mixin editbutton {
    margin-left: 16px;
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    color: $faint;
    font-size: 14px;
    border: 1px solid $faint;

    &:hover {
        color: black;
        border: 1px solid black;
    }
}

@mixin largebutton {
    background: $primary;
    // border: 2px solid $primary;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    //margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 400px;
    will-change: transform;
    margin-bottom: 8px;
    color: white;

    // font-family: "Open Sans";

    @include media("<=t") {
        min-height: 40px;
        font-size: 14px;
        padding: 8px 12px;
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: none;
        transform: translateY(0);
    }

    &:disabled {
        background: lightgrey;
        border: 2px solid lightgrey;
        box-shadow: none;
    }
}

@mixin smallbutton {

    appearance: none;
    background-color: $lightaccent;
    // border: 0.5px solid rgba(27, 31, 35, .15);
    border-radius: 5px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: flex;
    //font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    // padding: 6px 16px;
    padding: 0.75rem 1.7rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: 500;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif !important;
    

    &:focus:not(:focus-visible):not(.focus-visible) {
        box-shadow: none;
        outline: none;
    }

    &:hover {
        //background-color: $lightaccent;
        filter: contrast(0.5);
    }

    &:focus {
        box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
        outline: none;
    }

    &:disabled {
        background-color: lightgrey;
        border-color: rgba(27, 31, 35, .1);
        color: rgba(255, 255, 255, .8);
        cursor: default;

        &:hover {
            background: lightgrey !important;
        }
    }

    &:active {
        // background-color: $lightaccent;
        box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
    }

}


/*
    background: $primary;
    border: 2px solid $primary;
    border-radius: 5px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    min-height: auto;
    min-width: auto;
    outline: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform;
    margin-bottom: 8px;
    height: auto;
    @include media("<=t") {
        min-height: 40px;
        font-size: 14px;
        padding: 8px 12px;
    }
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: none;
        transform: translateY(0);
    }
    &:disabled {
        background: lightgrey;
        border: 2px solid lightgrey;
        box-shadow: none;
    }*/


@mixin smallbutton-white {
    background: white !important;
    border: 2px solid lightgrey;
    border-radius: 10px;
    box-sizing: border-box;
    color: $primary;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    min-height: auto;
    min-width: auto;
    outline: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform;
    margin-bottom: 8px;
    height: auto;

    @include media("<=t") {
        min-height: 40px;
        font-size: 14px;
        padding: 8px 12px;
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: none;
        transform: translateY(0);
    }

    &:disabled {
        background: lightgrey;
        border: 2px solid lightgrey;
        box-shadow: none;
    }
}

@mixin container {
    width: 80%;
    margin: auto;
}

@mixin error {
    color: red;
}

@mixin form-input {
    background: rgba(211, 211, 211, 0.247);
    border-radius: 5px;
    min-height: 55px;
    outline: none;
    margin-bottom: 24px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    @include media("<=t") {
        margin-bottom: 16px;
    }

    &--marginOverrule {
        margin-bottom: 0;
    }

    &--half {
        //width: 48%;
    }

    label {
        font-size: 12px;
        color: $charcoal !important;
        font-weight: 600;
        position: absolute;
        top: 0;
        left: 10px;
        right: 10px;
        top: 10px;
    }

    input,
    select,
    textarea {
        height: 100%;
        width: 100%;
        background: transparent;
        outline: none;
        position: absolute;
        top: 0px;
        padding-top: 12px;
        padding-left: 10px;
        padding-right: 10px;
        color: rgba(0, 0, 0, 0.726);
        appearance: none;
        font-size: 15px;

        &:focus {
            outline: 2px solid $lightaccent;
        }
    }

    &--textarea {
        height: 200px;

        textarea {
            padding-top: 25px;
            height: 200px !important;
            resize: none;
        }
    }

    option {
        padding-left: 0px !important;
    }
}

@mixin classic-border-background {
    background: rgb(249, 250, 250);
    border: 1px solid rgb(181, 189, 196);
}

@mixin plain-form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;



    label {
        font-size: 15px;
        //color: darkgrey;
        font-weight: 400;
        color: $charcoal;

        span {
            color: red;
        }
    }

    .input,
    input,
    textarea,
    select,
    :deep(input) {


        border-radius: 5px;
        //background: rgb(249, 250, 250);
        border: 1px solid rgb(181, 189, 196);
        font-size: 16px;
        //height: 50px;
        line-height: 24px;
        padding: 7px 8px;
        color: rgb(8, 9, 10);
        box-shadow: none;
        font-family: "Open Sans", sans-serif !important;
        &:focus{
            background-color: #fff;
            border-color: $lightaccent;
            box-shadow: 1px 1px 0 $lightaccent;
            outline: 0 !important;
        }
        


        /*
        width: 100%;
        height: 50px;
        border-radius: 10px;
        padding-left: 12px;
        font-size: 16px;
        font-weight: normal;
        border: 1px solid lightgrey;
        transition: border-color 150ms ease-in-out 0s;
        outline: none;
        color: rgb(33, 49, 60);
        background-color: rgb(255, 255, 255);
        padding-right: 12px;
        padding: 12px;
        appearance: none;
        -webkit-appearance: none;

        &:hover {
            box-shadow: rgb(231 238 236) 0px 0px 0px 3px;
        }

        &:focus {
            border: 1px solid lightgrey;
        }*/
    }

    .input {
        cursor: pointer;
    }
}

@mixin processing-btn {
    color: rgb(183, 119, 0) !important;
    background-color: rgba(255, 166, 0, 0.27) !important;
}

@mixin done-btn {
    color: teal !important;
    background-color: #5ac09081 !important;
}

@mixin reject-btn {
    color: #E53945 !important;
    background: #e539445f !important;
}
@mixin delivered-btn {
    color: #0000FF !important;
    background: #0000ff42 !important;
}


@mixin big-btn {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 14.422px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 287.242px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #1C1C1B;
    margin: auto;
    margin-top: 24px;

    &:disabled {
        background: lightgrey;
        color: darkgrey;
    }
}

@mixin paid-btn {
    color: #006400;
    background-color: #00640027;
}

@mixin pending-btn {
    color: darkgoldenrod;
    background-color: rgba(255, 255, 0, 0.188);
}
@mixin radio-label {
    position: relative;
    background-color: white;
    display: flex;
    padding: 8px 8px;
    align-items: center;
    border: 1.5px solid #ced4da58 !important;
    border-radius: 3px;
    margin-right: 8px;
    transition: all 100ms ease-in-out;
    height: 50px;

    @include media("<=t") {
        margin-right: 0px;
    }

    //background: none !important;

    //border: 1px solid grey;

    &:hover {
        background: rgba(211, 211, 211, 0.382);
    }

    &:focus-within {
        //background: lightgray;
    }

    input {
        cursor: pointer;
        border: 0;
        position: absolute !important;
        width: 100% !important;
        height: 100% !important;
        opacity: 0;
        //background: none !important;
    }

    .radio-indicator {
        min-width: 20px;
        min-height: 20px;
        margin-right: 16px;
        border-radius: 50%;
        background: white;
        border: 0.5px solid rgba(203, 201, 201, 0.709);
        display: block;
    }

    .radio-text {
        font-size: 14px;
        font-weight: 400;
        color: $faint;
    }

    input:checked+.radio-indicator {
        background: $primary;
    }
}



@mixin checkbox-label {
    position: relative;
    background-color: white;
    display: flex;
    padding: 8px 8px;
    align-items: center;
    border: 1.5px solid #ced4da58 !important;
    border-radius: 3px;
    margin-right: 8px;
    transition: all 100ms ease-in-out;
    height: 50px;

    @include media("<=t") {
        margin-right: 0px;
    }

    //background: none !important;

    //border: 1px solid grey;

    &:hover {
        background: rgba(211, 211, 211, 0.382);
    }

    &:focus-within {
        //background: lightgray;
    }

    input {
        cursor: pointer;
        border: 0;
        position: absolute !important;
        width: 100% !important;
        height: 100% !important;
        opacity: 0;
        //background: none !important;
    }

    .radio-indicator {
        min-width: 10px;
        min-height: 10px;
        margin-right: 16px;
        //border-radius: 50%;
        background: white;
        border: 0.5px solid rgba(203, 201, 201, 0.709);
        display: block;
    }

    .radio-text {
        font-size: 14px;
        font-weight: 400;
        color: $faint;
    }

    input:checked+.radio-indicator {
        background: $primary;
    }
}

@mixin smallbutton {
    //width: 95px;
    width: fit-content;
    //height: 40px;
    flex-shrink: 0;
    color: white;
    text-align: center;
    /* Button Text */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.50px;
   // text-transform: uppercase;
    border-radius: 10px;
    padding: 10px 16px;
    background-color: $primary;
    font-family: "Inter", sans-serif;

    &:hover {
        background-color: #A11D26;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    }



    &:disabled {
        color:  #B0BAC9;
        text-align: center;
        /* Button Text */
        font-size: 14px;
        font-style: normal;
        background: transparent;
        
    }
}

@mixin mediumbutton {

}

@mixin greyforminput {
    margin-bottom: 10px;

    .required {
        color: $primary;
        font-size: 15px;
        font-weight: 600;
    }
    
    label {
        color: var(--Neutral-Colors-700, #323232);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: "Open Sans", sans-serif !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18.028px;
        margin-bottom: 5px;
        letter-spacing: 0.5px;

        @include media("<=t") {
            font-size: 15px;
        }
    }

    textarea, input[type='text'], select, :deep(input){ 
        border: 0px solid #000;
        appearance: none;

        //background: #F3F3F3;
        padding: 10px 16px;
        width: 100%;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px; /* 191.667% */
        letter-spacing: 0.5px;
        color: $charcoal;
        font-family: "Open Sans", sans-serif !important;

        //border-radius: 22.5px;
        background: #F5F5F5;


        background: #F5F5F5;

        border-radius: 7.211px;
        //border: 1px solid lightgrey;

        @include media(">=t") {
            font-size: 13px;
        }
        //margin-bottom: 16px;

        
        
        //color: #78858F;

        


        

        &:focus {
            outline: 0;
        }
        



    }
    
}
@mixin outlinedinput {
    margin-bottom: 10px;

    .required {
        color: $primary;
        font-size: 15px;
        font-weight: 600;
    }
    
    label {
        color: var(--Neutral-Colors-700, #323232);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18.028px;
        margin-bottom: 5px;
        letter-spacing: 0.5px;

        @include media("<=t") {
            font-size: 15px;
        }
    }

    textarea, input[type='text'], select, :deep(input){ 
        border: 1px solid #000;
        appearance: none;

        //background: #F3F3F3;
        padding: 10px 16px;
        width: 100%;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px; /* 191.667% */
        letter-spacing: 0.5px;
        color: $charcoal;
        font-family: "Inter", sans-serif !important;

        //border-radius: 22.5px;
        background-color: white;

        border-radius: 7.211px;
        //margin-bottom: 16px;

        
        
        //color: #78858F;

        


        

        &:focus {
            outline: 0;
        }
        



    }
    
}

@mixin outlinedbutton {
    color: black;
            text-align: center;
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.08px;
            text-transform: uppercase;
            border-radius: 4px;
            border: 2px solid #000;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 16px;
}

@mixin inter {
    font-family: "Inter", sans-serif !important;
}





@mixin checkbox-input {

    .container {
        display: block;
        position: relative;
        padding-right: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        color: #000;
        font-size: 12px;
        font-style: normal;
        //text-transform: uppercase;
        font-weight: 500;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        color: #333;

        font-feature-settings: 'clig' off, 'liga' off;
        /* Text Single/300/Regular */
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; 

        
      }
      
      /* Hide the browser's default checkbox */
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      
      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0;
        right: 0;
        height: 20px;
        width: 20px;
        //background-color: white;
        border-radius: 5px;
        border-radius: 38.208px;
        border: 1.415px solid #757575;
      }
      
      /* On mouse-over, add a grey background color */
      .container:hover input ~ .checkmark {
        background-color: black;
      }
      
      /* When the checkbox is checked, add a blue background */
      .container input:checked ~ .checkmark {
        background-color: black;
      }
      
      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the checkmark when checked */
      .container input:checked ~ .checkmark:after {
        display: block;
      }
      
      /* Style the checkmark/indicator */
      .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        //border: solid white;
        //border-width: 0 3px 3px 0;
        //-webkit-transform: rotate(45deg);
       // -ms-transform: rotate(45deg);
        //transform: rotate(45deg);
      }
    }

