@mixin card {
    background: white;
    // border: 0.5px solid rgba(211, 211, 211, 0.24);
    //box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    //box-shadow: rgba(0, 0, 0, 0.012) 0px 0px 0px 1px, rgba(209, 213, 219, 0.728) 0px 0px 0px 1px inset;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.023), 0 4px 10px 0 rgba(0, 0, 0, 0.001);
}


@mixin editbutton {
    margin-left: 16px;
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    color: $faint;
    font-size: 14px;
    border: 1px solid $faint;

    &:hover {
        color: black;
        border: 1px solid black;
    }
}

@mixin largebutton {
    background: $primary;
    // border: 2px solid $primary;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    //margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 400px;
    will-change: transform;
    margin-bottom: 8px;
    color: white;

    // font-family: "Open Sans";

    @include media("<=t") {
        min-height: 40px;
        font-size: 14px;
        padding: 8px 12px;
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: none;
        transform: translateY(0);
    }

    &:disabled {
        background: lightgrey;
        border: 2px solid lightgrey;
        box-shadow: none;
    }
}

@mixin smallbutton {

    appearance: none;
    background-color: $lightaccent;
    // border: 0.5px solid rgba(27, 31, 35, .15);
    border-radius: 10px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    //font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    // padding: 6px 16px;
    padding: 0.75rem 1.7rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: 500;
    color: white;

    &:focus:not(:focus-visible):not(.focus-visible) {
        box-shadow: none;
        outline: none;
    }

    &:hover {
        //background-color: $lightaccent;
        filter: contrast(0.5);
    }

    &:focus {
        box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
        outline: none;
    }

    &:disabled {
        background-color: lightgrey;
        border-color: rgba(27, 31, 35, .1);
        color: rgba(255, 255, 255, .8);
        cursor: default;
    }

    &:active {
        // background-color: $lightaccent;
        box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
    }

}


/*
    background: $primary;
    border: 2px solid $primary;
    border-radius: 5px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    min-height: auto;
    min-width: auto;
    outline: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform;
    margin-bottom: 8px;
    height: auto;
    @include media("<=t") {
        min-height: 40px;
        font-size: 14px;
        padding: 8px 12px;
    }
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: none;
        transform: translateY(0);
    }
    &:disabled {
        background: lightgrey;
        border: 2px solid lightgrey;
        box-shadow: none;
    }*/


@mixin smallbutton-white {
    background: white !important;
    border: 2px solid lightgrey;
    border-radius: 10px;
    box-sizing: border-box;
    color: $primary;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    min-height: auto;
    min-width: auto;
    outline: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform;
    margin-bottom: 8px;
    height: auto;

    @include media("<=t") {
        min-height: 40px;
        font-size: 14px;
        padding: 8px 12px;
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: none;
        transform: translateY(0);
    }

    &:disabled {
        background: lightgrey;
        border: 2px solid lightgrey;
        box-shadow: none;
    }
}

@mixin container {
    width: 80%;
    margin: auto;
}

@mixin error {
    color: red;
}

@mixin form-input {
    background: rgba(211, 211, 211, 0.247);
    border-radius: 5px;
    min-height: 55px;
    outline: none;
    margin-bottom: 24px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    @include media("<=t") {
        margin-bottom: 16px;
    }

    &--marginOverrule {
        margin-bottom: 0;
    }

    &--half {
        //width: 48%;
    }

    label {
        font-size: 12px;
        color: $charcoal !important;
        font-weight: 600;
        position: absolute;
        top: 0;
        left: 10px;
        right: 10px;
        top: 10px;
    }

    input,
    select,
    textarea {
        height: 100%;
        width: 100%;
        background: transparent;
        outline: none;
        position: absolute;
        top: 0px;
        padding-top: 12px;
        padding-left: 10px;
        padding-right: 10px;
        color: rgba(0, 0, 0, 0.726);
        appearance: none;
        font-size: 15px;

        &:focus {
            outline: 2px solid $lightaccent;
        }
    }

    &--textarea {
        height: 200px;

        textarea {
            padding-top: 25px;
            height: 200px !important;
            resize: none;
        }
    }

    option {
        padding-left: 0px !important;
    }
}

@mixin plain-form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    label {
        font-size: 15px;
        //color: darkgrey;
        font-weight: 500;
        color: #282828;

        span {
            color: red;
        }
    }

    .input,
    input,
    textarea,
    select,
    :deep(input) {
        border: 0.5px solid #d6d7d8;

        border-image-repeat: stretch;
        border-image-source: none;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        //border: 1.5px solid rgba(169, 169, 169, 0.64);
        min-height: 45px;
        border-radius: 5px;
        padding: 8px;
        outline: none;
        font-size: 15px;
        //color: $faint;
        color: $charcoal;
        font-weight: 400;
        appearance: none;
        //background-color: white;
        background-color: white;
        //border: none;
        letter-spacing: 0.6px;

        &:focus {
            border: 1px solid lightgrey;
        }
    }

    .input {
        cursor: pointer;
    }
}

@mixin radio-label {
    position: relative;
    background-color: rgb(246, 246, 246);
    display: flex;
    padding: 8px 8px;
    align-items: center;
    border: 1.5px solid #ced4da58 !important;
    border-radius: 3px;
    margin-right: 8px;
    transition: all 100ms ease-in-out;
    height: 50px;

    //background: none !important;

    //border: 1px solid grey;

    &:hover {
        background: rgba(211, 211, 211, 0.382);
    }

    &:focus-within {
        //background: lightgray;
    }

    input {
        cursor: pointer;
        border: 0;
        position: absolute !important;
        width: 100% !important;
        height: 100% !important;
        opacity: 0;
        //background: none !important;
    }

    .radio-indicator {
        width: 20px;
        height: 20px;
        margin-right: 16px;
        border-radius: 50%;
        background: white;
        border: 0.5px solid rgba(203, 201, 201, 0.709);
        display: block;
    }

    .radio-text {
        font-size: 14px;
        font-weight: 400;
        color: $faint;
    }

    input:checked+.radio-indicator {
        background: $primary;
    }
}


@mixin normalbutton {
    background-color: #FC4904;
    padding: 20px;
    color: white;
    border-radius: 50px;
    width: 100%;
    
    &:disabled {
        background-color: lightgrey;
        color: grey;
    }
}
