@mixin largebutton {
    background: $primary;
      border: 2px solid $primary;
      border-radius: 10px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
      margin: 0;
      min-height: 60px;
      min-width: 0;
      outline: none;
      padding: 16px 24px;
      text-align: center;
      text-decoration: none;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 400px;
      will-change: transform;
      margin-bottom: 8px;

      @include media("<=t"){
          min-height: 40px;
          font-size: 14px;
          padding: 8px 12px;
      }

      &:hover {
          box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
          transform: translateY(-2px);
      }
      &:active {
        box-shadow: none;
        transform: translateY(0);
      }
      &:disabled {
          background: lightgrey;
          border: 2px solid lightgrey;
          box-shadow: none;
      }
}

@mixin container {
    width: 80%;
    margin: auto;
}

@mixin error {
    color: red;
}

@mixin  form-input {
    background: rgba(211, 211, 211, 0.247);
    border-radius: 5px;
    min-height: 55px;
    outline: none;
    margin-bottom: 24px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    @include media("<=t") {
        margin-bottom: 16px;
    }

    &--marginOverrule {
        margin-bottom: 0;
    }

    &--half {
        //width: 48%;
    }

    label {
        font-size: 12px;
        color: grey;
        font-weight: 600;
        position: absolute;
        top: 0;
        left: 10px;
        right: 10px;    
        top: 10px;
    }

    input, select,textarea {
        height: 100%;
        width: 100%;
        background: transparent;
        outline: none;
        position: absolute;
        top: 0px;
        padding-top: 12px;
        padding-left: 10px;
        padding-right: 10px;
        color: rgba(0, 0, 0, 0.726);
        appearance: none;
        font-size: 15px;

        &:focus {
            outline: 2px solid $lightaccent;
        }
    }
    &--textarea {
        height: 200px;
        textarea {
            padding-top: 25px;
            height: 200px !important;
            resize: none;
        }
    }
    option {
        padding-left: 0px !important;
    }

}